<!DOCTYPE html>
<html lang='en'>
  <head>
    <title>Welcome - Yelp Profile</title>
    <meta charset='utf-8' />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="stylesheet" type="text/css" href="../static/css/welcome_search.css" />
  </head>

  <body>
    <div id="wrapper">

    <!-- Header -->
      <header>
        WELCOME!
      </header>
    
    <!-- Instructions -->
      <p>
        Would you like to learn more about your interactions on Yelp? This application analyzes your written reviews
        and interests, then creates a personalized profile for you!
      </p>

    <!-- Start -->
      <div class="start">
        <a href="search.html" id="start" class="button">LET'S START</a>
      </div>

    </div>
  </body>
</html>